/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*:focus {
    outline: none;
}

*{
    box-sizing:border-box;
}

@font-face {
    font-family: logoFont;
    src: url(font/Norse-Bold.otf);
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
}

#container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

#logo-container{
    width:35%;
    height: 100vh;
    background:url(images/texture-g8b5a5b163_1920.jpg);
}

#logo-box{
    background:rgba(0,0,0,0.3);
    width:100%;
    padding:2em 0;
    margin-top:10em;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#logo-box img{
    width:20%;
}

#logo-header{
    font-family:logoFont, sans-serif;
    color: white;
    font-size: 5rem;
    letter-spacing: 2px;
    margin-top: 20px;
}

#content-container{
    width:65%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.description, #form-header{
    font-size: 1.4rem;
    line-height: 1.2;
    
}

.description{
    width: 85%;
    padding-left:2em;
    margin: 0 0 20px 0;
}

#form-header {
    width: 95%;
}

.log-in{
    width: 85%;
    padding-left: 3em;
    margin: 30px 0 20px 0;
}

.log-in a{
    text-decoration: none;
    font-weight: 600;
    color: #3ad0cd;
}

form{
    width:100%;
}

#form-field-container{
    width:100%;
    padding: 2em;
    margin-top: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}

.input-container{
    width:45%;
}

label{
    display:block;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: #727272;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

input{
    width:100%;
    border: 1px solid #e3e3e3;
    height: 30px;
    border-radius: 5px;
}

input:focus{
    border:2px rgb(3, 170, 182) solid !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input:invalid{
    border:solid red 1px;
}

button{
    padding: 0.8em 3em;
    background: #3ad0cd;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    margin-left: 3.5em;
    margin-top: 2em;
    border-radius: 5px;
}